header {

}

.navbar{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 20vw;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
}

.navbar li a{
    text-decoration: none;
}

#banner-logo{
    grid-column: 1;
    width: 30vw;
}

#menu {
    grid-column: 3/4;
}

