:root{
    --jet: #323031;
    --lightJet: #3c3c3c;
    --gold: #E8D061;
    --white: #FAFCEB;
}

html {
    display: flex;
    align-items: center;
}

body {
 background-color: #FAFCEB;
 margin: 0 auto;
 max-width: 1600px;
 height: 100%;
 padding: 2vw 2vw;
}

.navbar{
    background-color: #323031;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    gap: 20px;
    max-width: 100%;
    list-style-type: none;
    text-align: center;
    padding: 5vw 5vw;
    font-size: 5vw;
}

.navbar li {
    display: inline-block;
    height: 12vw;
    width: 25vw;
    text-align: center;
}

#banner-logo{
    width: 100%;
    height: 100%;
}

.navItem {
    text-decoration: none;
    outline: var(--gold) solid;
    border-radius: 5px;
}

.navItem a:hover {
    background-color: #E8D061;
    color: var(--jet);
    border-color: var(--jet);
}

.navItem a {
    display: flex;
    height: 100%;
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: #FAFCEB;

    align-items: center;
    justify-content: center;
}

.hero {
    background-color: #323031;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    max-width: 100%;
    text-align: center;
    padding: 1vw 4vw;
    font-size: 5.5vw;
    color: var(--white)
}
.hero b{
    color: var(--gold);
}
.hero p{
    margin-top: 0;
    font-size: 30px;
}

.links {
    background-color: #323031;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    max-width: 100%;
    text-align: center;
    padding: 4vw 4vw;
    margin-top: 3vw;
    font-size: 5vw;
    color: var(--white);
}

.links a {
    border-radius: 3vw;
    margin-bottom: 2vw;
    padding: 3vw;
    font-size: 6vw;
    text-decoration: none;
    color: var(--jet);
    background-color: var(--gold);
    min-height: 44px;
}

/* Form CSS */
.gform {
    background-color: var(--lightJet);
    border-radius: 15px;
    padding: 3vw 3vw;
    
    color: #E8D061;

    display: flex;
    flex-direction: column;
    width: 94%;
}

/* Request a Quote Form */

form {
    font-size: 5.5vw;
}

form :is(input,label,textarea) {
    display: block;
}

.form-elements+.radio {
    display: flex;
    align-items: center;
}

/* input#email{
    margin-bottom: 5vw;
} */

label#message{
    margin-top: 3vw;
}

form label {
    align-content: center;
}

form input{
    margin-bottom: 4vw;
    font-size: 6vw;
    align-content: center;
    max-width: 80%;
    min-height: 44px;
    min-width: 44px;
    box-sizing: border-box;
    border: none;
}
form input:invalid {
    border-right: 3vw solid red ;
}
form input:valid {
    border-right: 3vw solid green;
}

form textarea {
    height: 20vw;
    width: 80%;
    max-width: 600px;
    font-size: 5vw;
}

form input[type="radio"] {
    justify-content: left;
    accent-color: var(--gold);
    height: 8vw;
    width: 8vw;
    margin: 10px 10px;
    display: inline;
}

form textarea {
    margin-bottom: 2rem;
}

#submitbutton {
    margin: 2vw 15vw;
    padding: 2vw;
    font-size: 4vw;
    background-color: var(--gold);
    border-radius: 4vw;
    border: 0px;
    transition: transform 0.2s ease-out;;
}
#submitbutton:hover {
    background-color: #b8a44d;
    transform: scale(1.1);
}

#budget{
    margin-top: 1vw;
}

#budget input {
    width: 40vw;
}

.services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

footer {
    display: flex;
    justify-content: center;
}


@media (min-width: 800px) {
    header {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .navbar{
        grid-column: 2;
        padding: 2vw 2vw;
        font-size: 3vw;
    }
    .navbar li {
        height: 9vw;
        width: 18vw;
    }
    #banner-logo{
        max-height: 100%;
        max-width: 100%;
    }
    h1 {
        margin: 1vw 0;
    }
    h2 {
        margin: 1vw 0;
        font-size: 5vw;
    }
    .links a {
        width: 50%;
        font-size: 3rem;
        margin: 1vw auto;
        padding: 1vw;
    }
    .hero {
        padding: 2vw 2vw;
        font-size: 3vw;
    }
    .hero p{
        font-size: 2vw;
    }

    .links {
        margin-top: 1vw;
        padding: 2vw 2vw;
        margin-bottom: 1vw;
    }

    form textarea {
        font-size: 2vw;
    }

    form {
        font-size: 2.5vw;
    }
    form input {
        font-size: 2.5vw;
        border-radius: 10px;
        margin-bottom: 2vw;
    }
    form input[type="radio"] {
        height: 2vw;
        width: 2vw;
    }
    #submitbutton {
        font-size: 2vw;
        padding: 1vw;
        margin: 1vw auto;
        border-radius: 1vw;
    }

}