:root{
    --jet: #323031;
    --gold: #E8D061;
    --white: #FAFCEB;
}

body {
 background-color: #FAFCEB;
}

header {
    background-color: #323031;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-content: center;
    max-width: 100%;
    list-style-type: none;
    text-align: center;
    padding: 5vw 3vw;
}

.navbar li {
    display: inline-block;
    padding: 2vw 2vw;
    height: 10vw;
    width: 22vw;
    vertical-align: center;
}

#banner-logo{
    width: 15vw;
}

.navItem {
    text-decoration: none;
    outline: var(--gold) solid;
}

.navItem a {
    text-align: center;
    text-decoration: none;
    color: #FAFCEB;
}